<app-header></app-header>


<div *ngFor="let chapter of firebaseService.milestones">

    <div class="heading">
        <h1>{{ chapter.title }}</h1> 
        <div class="badge" *ngIf="!chapter.isComplete()">
            {{ getNumberOfCompleted(chapter) }} / {{ chapter.subChapters.length }} complete
        </div>

        <div class="badge chapterComplete" *ngIf="chapter.isComplete()">
            Kapitel abgeschlossen
        </div>
        <button mat-raised-button color="primary" routerLink="/">Zum Dashboard</button>  
      </div>
    <div *ngFor="let subChapter of chapter.subChapters">
        <app-chapter-card [chapterCard]="subChapter"></app-chapter-card>
    </div>
</div>
