.padding{
padding: 32px;

}
.flex{
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}

.flex-center{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.p-16{
    font-size: 24px !important;
}

.center{
    display: flex;
    justify-content: center;
}
.font-size{
    font-size: 20px !important;
}

.flex-button{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}